
.main-nav {
  display: flex;
  flex-direction: column; 
  align-items: center;
  background-color: #198754; 
  padding: 1rem;
  
}

.main-nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;

}

.main-nav a:hover {
  background-color: #157347;
  border-radius: 5px;
}

@media (min-width: 600px) {
  .main-nav {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
}
